*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{position: relative;}
main{
    display: flex;
    align-items: center;
    padding:40px 60px;
    height: 100vh;
    background-color: #272C30;
}
@media screen and (max-width:985px){
    main{flex-direction: column;height: auto;}
}
@media screen and (max-width:580px){
    main{flex-direction: column;height: auto; padding:20px 10px}
}
/* players part */
.players{width:100%}
.title{
    color: #F1C40F;
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
}
/* plaer add and remove table */
.add-table{
    background-color: #1F1F1F;
    padding:20px 30px;
}
.add, .remove,.cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add h4, .remove h4, .cards h4{ 
    color: #fff;
    font-size: 16px;
}
#add-btn, #remove-btn, #show-btn{
    cursor: pointer;
    width:120px;
    height: 25px;
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
}
#add-btn{
    background-color: #2ECC71;
}
#remove-btn{
    background-color: #E74C3C;
}
#show-btn{
    background-color: #3c9ae7;
}
@media screen and (max-width:790px){
    .add, .remove{
      flex-direction: column;
      text-align: center;
    }
    #add-btn, #remove-btn{
       margin:10px auto
    }
}
/* select */
#forma{
    width: 100%;
    height: 35px;
    text-align: center;
    font-weight: bold;
    background-color: #2C2C2C;
    color: #fff;
    border:2px solid #F1C40F;
}
/* table players */
table{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border-collapse: collapse
}
    
tr{height: 40px;}
.table-header{
    background-color: #D9D9D9;
}
.table-heading{
    background-color: #B9B9B9;
}
th,td {margin: 0;padding: 0;}
.table-content{
    background-color: #1F1F1F;
    color: #fff;
}
/* stadium part */
.stad{
    width: 100%;
    position: relative;
}
#pitch-svg{
    width: 100%;
}
@media screen and (max-width:790px){
    .stad{height: calc(100vh - 200px);}
}
/* team formation */
.team{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    height: 100%;
    padding-bottom:15px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* players and caards */
.player {
    width:12%;
    position: relative;
    margin-right: 15px;
}
.player .player-card{
    width:100%;
}
.player .card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    margin-top: -2px;
}
.player .card-content .rating, .player .card-content .position{font-size:15px;padding-left: 0;}
.player .card-content .badge-container img {
    width: 68%;
    margin-left: 12%;
    margin-top: -30px;
}
.player .player-name {
    font-weight: bold;
    font-size: 14px;
    color: #352b15;
    margin-top: -10px;
    text-align: center;
    margin-left: -10px
}
.player .player-stats{
    padding:0 5px

}
.player .player-stats div{
    font-size: 4px;
    text-align: center;
    margin-right: 2px;
    margin-top:-3px;
}

.goal{
    width:12%;
    margin:auto
}
.goal .player{width: 100%;}
/* player texts for small screens */
.player-text{
    display: none;
}
@media screen and (max-width:793px){
    .player-text{
        display: block;
    }
    
}
.player-text .card-header{
    display: flex
    ;
        align-items: center;
        flex-direction: column;
        padding-top: 5px;
}
.player-text .card-header span{
    font-size:10px
}
.player-text .player-name {
    font-size: 10px;
    color: #352b15;
    margin: auto;

}
.player-text .player-stats div {
    font-size: 3px;
    text-align: center;
    margin-right: 2px;
    margin-top: 0px;
    padding-bottom: 5px;
}

.row{margin-left:20px}
/******************* adding player form *******************/
.form-adding{
    position: absolute;
    left: 0;;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #272C30;
    display: flex;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    gap: 20px;
    align-items: center;
    padding:20px 60px;
    z-index:10
}
.out{
    color: #fff;
    font-size: 40px;
    position: absolute;
    top:30px;
    right:50px;
    cursor: pointer;
}
@media screen  and (max-width:570px){
    .form-adding{
        flex-direction: column;
        padding:30px 15px
    }
    .out{
        top:-10px;
        right: 15px;
    }
}
 
  /* Form part */
  .form-part {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .form-adding h1 {
    text-align: center;
    color: #ffc107;
    margin-bottom: 20px;
  }
  
  .form-adding form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-adding .form-row {
    display: flex;
    gap: 10px;
  }
  @media screen  and (max-width:570px){
    .form-row{
        flex-direction: column;
        
    }
}
  
.form-adding  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
  }
.form-adding select{
    flex:1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
}
  .form-adding  input:focus, .form-adding select{
    border: 2px solid #ffc107;
    outline: none;
  }
  .form-adding  input::placeholder {
    color: #ccc;
  }
  
  .form-adding button {
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .form-adding button:hover {
    background-color: #218838;
  }
 /* player card part */
.player-card {
    width: 300px;
  }
  
 .card-container{
    position: relative;
  }
.card-container .card-background{width: 100%;}
.card-content{
    position: absolute;
    top: 0;;
    left: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-left: 46px;
}
/* every div in the content */
.card-content div{width: 100%;}
/* card header */
.card-content .card-header{
    display: flex;
    flex-direction: column;
    margin-top:14px;
}
.card-header .rating, .card-header .position{
    font-size: 29px;
    font-weight: bold;
    margin:0;
    color: #352b15;
    padding: 0;
    line-height: 0.85;
}
.card-header .position{font-size: 18px;padding-left:3px}
/* card img */
.badge-container img{
    width: 60%;
    margin-left: 12%;
    margin-top: -13px;
}
/* name */
.player-name {
    font-weight: bold;
    font-size: 18px;
    color: #352b15;
    text-align: center;
    margin-left:-53px
}
/* player stats */
.player-stats{display: flex;}
.player-stats div{  
    width: fit-content;
     margin-right: 10px;
     font-weight: bold;
     color: #68552b;
     font-size:14px
    }
.player-stats div span{display: block;}
/* toggle to hide and show the content */
.hide{display: none;}
form.hide{display: none;}
/******************* view cards ******************/
.player-card{position: relative;}
.view-cards.form-adding{
    left: 0;
    right: 0;
    top: 0;
    min-height: 100vh;
    z-index: 5;
}
.view-cards i {
    padding: 40px 15px;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* edit and delete the card */
.card-settings{
position: absolute;
top: 11%;
display: flex;
justify-content: space-between;
left: 7%;
right: 7%;
z-index: 10;
}
.card-settings i {padding: 0;margin: 0;font-weight: bold;}
.edit-card, .delete{
    padding:10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.edit-card{
    background-color: #3c9ae7;
}
.delete{
    background-color:#E74C3C;
}

/* pitch card  */
main .player .card-header{
    margin-top: 0px;
}
main .player .card-content{
    margin-left: 0;
}
main .player .player-name{
    font-size: 8px;
    margin-left: auto;
}
main .player .card-content .rating, main .player .card-content .position{
    font-size:10px;
    margin-left:10px;
}
main .player .card-content .badge-container img{
    width: 68%;
    margin-left: 12%;
    top: -8px;
    left: 8px;
    position: relative;
    margin-top:-13px
}